<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <div class="wrapper">
    <main>
      <section class="module parallax parallax-1">
        <header id="header">
          <div class="container-header">
            <div class="flex">
              <a href="#"><img src="../assets/logo.png" alt="LPA-TECH | Soluções digitais."></a>
              <nav>
                <ul>
                  <li><a href="#">HOME</a></li>
                  <li><a href="#">PROPÓSITO</a></li>
                  <li><a href="#">PORTIFÓLIO</a></li>
                  <li><a href="#">CONTATO</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </header>
        <div class="container-parallax-txt">
          <h1 class="h1-parallax">Bem vindo a LPA-TECH | <strong class="strong-secundary-color">Soluções
              digitais.</strong></h1>
          <p class="white-txt">Bem-vindo à LPA-TECH, explore nossas inovações e juntos vamos transformar o mundo.</p>
          <a href="https://xvideos.com"><button class="btn-secundary-color">Fazer orçamento</button></a>
        </div>
        <div class="shadow"></div>
      </section>

      <section class="module content">
        <div class="proposito-text">
          <h2><strong class="strong-secundary-color">NOSSO PROPÓSITO</strong></h2>
          <p>
            Na LPA Tech, acreditamos que a tecnologia é uma ferramenta poderosa para impulsionar o crescimento e o
            sucesso dos negócios. Com anos de experiência no setor de desenvolvimento web e de software, nos dedicamos a
            criar soluções sob medida para atender às necessidades únicas de nossos clientes. <br><br>

            Nossa equipe é formada por desenvolvedores, designers e especialistas em tecnologia apaixonados por inovação
            e excelência. Trabalhamos em estreita colaboração com nossos clientes para entender suas metas e objetivos,
            a fim de fornecer soluções personalizadas que atendam às suas expectativas e superem suas necessidades.
          </p>
          <a target="_blank" href="https://github.com/LeonardoEnterprise"><button class="btn-secundary-color">Conhecer a empresa</button></a>
          </div>
          <div class="video">
            <!-- <img class="valores" src="../../../assets/lema.svg" alt="Você é nossa prioridade!"> -->
            <video class="video-institucional" src="../../../assets/LPA MOVIE.mp4" alt="Conheça a LPA-TECH" controls></video>
          </div>
      </section>

      <section class="portfolio-section module parallax parallax-2">
        <div class="projects">
            <div class="portfolio-iphone" [@contentChange]="currentState">
              <img [src]="portfolioItems[currentIndex].screenshot" alt="Screenshot do site">
            </div>
            <div class="portfolio-description" >
            <div class="content-portfolio" [@contentChange]="currentState">
              <h2><strong class="strong-secundary-color">{{ portfolioItems[currentIndex].title }}</strong></h2>
              <p>{{ portfolioItems[currentIndex].description }}</p>
              <a target="_blank" href="{{portfolioItems[currentIndex].url}}"><button class="btn-secundary-color"> Visitar o site</button></a>
            </div>
            <div class="portfolio-controls">
              <label *ngFor="let item of portfolioItems; let i = index">
                <input type="radio" [value]="i" [(ngModel)]="currentIndex" (change)="handleRadioSelection(i)">
              </label>
            </div>
          </div>
        </div>
        <div class="shadow"></div>
      </section>


      <section id="contact" class="module" >
        <div class="contact-container">
          <h2><strong class="strong-secundary-color">ENTRE EM CONTATO</strong></h2>
          <p>Estamos ansiosos para atendê-lo. Deixe-nos ajudar a transformar suas necessidades em soluções</p>
          <form id="contact-form" (ngSubmit)="onSubmit()" #contactForm="ngForm" method="post">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" placeholder="Nome Sobrenome" [(ngModel)]="nome" required>

            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" placeholder="Usuario@email.com" [(ngModel)]="email" required>

            <label for="cell">Telefone:</label>
            <input type="tel" id="cell" name="cell" placeholder="DDD+Numero Do Telefone" [(ngModel)]="telefone" required>

            <label for="message">Mensagem:</label>
            <textarea id="message" name="message" placeholder="Descreva detalhadamente o motivo do contato." [(ngModel)]="mensagemUsuario" required></textarea>
            <a (click)="sendEmailMessage()" href="suporte@lpatech.com.br"><button class="btn-secundary-color" type="submit">Enviar email</button></a>
            <a (click)="sendWhatsAppMessage()"><button class="green-btn" type="submit">Chamar no whatsapp</button></a>
          </form>
        </div>
      </section>

      <!-- <section class="faq">
        <div class="faq-container">
          <h1 class="faq_h1">Perguntas Frequentes</h1>
          <div class="faq-item" *ngFor="let question of faqList">
            <div class="question" [class.clicked]="question.isClicked" (click)="toggleAnswer(question)">
              <h2 class="question txt_faq">{{ question.question }}</h2>
            </div>
            <div class="answer" *ngIf="question.showAnswer">
              <p class="answer txt_faq">{{ question.answer }}</p>
            </div>
          </div>
          <div class="margin_faq">
            <button class="btn_orange btn_faq">
              <span class="btn_text">Entre em contato</span>
              <img src="../assets/icons/cellphone.svg" alt="" />
            </button>
          </div>
        </div>
      </section> -->

      <section id="faq" class="module">
        <div class="faq-container">
          <div class="faq-div">
            <h2><strong class="strong-secundary-color">ALGUMA DUVIDA?</strong></h2>
            <div class="faq-group" *ngFor="let duvida of faqLpaTech">
              <div class="pergunta">
                <h3></h3>
              </div>
              <div class="resposta">

              </div>
            </div>
            <div class="contato">
              <a href=""><button>Entrar em contato</button></a>
            </div>
          </div>
          <div class="more-faq">
            <h2>Possui uma duvida? entre em contato.</h2>
          </div>
        </div>
      </section>

      <a href="https://www.instagram.com/share?url=https://lpatech.com.br/homeE&caption=Sua+legenda+aqui&media=https://img.freepik.com/fotos-premium/o-ceu-da-paisagem-do-arco-iris-refletiu-a-imagem-de-fundo-da-natureza-da-agua-ai-gerou-a-arte_856480-1354.jpg" target="_blank">Compartilhar no Instagram</a>


    </main>
  </div>
</body>
</html>
