<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <div class="wrapper">
    <main>
      <section class="module parallax parallax-1">
        <header id="header">
          <div class="container-header">
            <div class="flex">
              <a href="#"><img src="../assets/logo.png" alt="LPA-TCH | Soluções digitais."></a>
              <nav>
                <ul>
                  <li><a href="#">HOME</a></li>
                  <li><a href="#">PROPÓSITO</a></li>
                  <li><a href="#">PORTIFÓLIO</a></li>
                  <li><a href="#">CONTATO</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </header>
        <div class="container-parallax-txt">
          <h1 class="h1-parallax">Bem vindo a LPA-TECH | <strong class="strong-secundary-color">Soluções
              digitais.</strong></h1>
          <p class="white-txt">Bem-vindo à LPA-TECH, explore nossas inovações e juntos vamos transformar o mundo.</p>
          <button class="btn-secundary-color"><a href="https://xvideos.com">Fazer orçamento</a></button>
        </div>
        <div class="shadow"></div>
      </section>

      <section class="module content">
        <div class="container">
          <h2><strong class="strong-secundary-color">NOSSO PROPÓSITO</strong></h2>
          <p>
            Na LPA Tech, acreditamos que a tecnologia é uma ferramenta poderosa para impulsionar o crescimento e o
            sucesso dos negócios. Com anos de experiência no setor de desenvolvimento web e de software, nos dedicamos a
            criar soluções sob medida para atender às necessidades únicas de nossos clientes. <br><br>

            Nossa equipe é formada por desenvolvedores, designers e especialistas em tecnologia apaixonados por inovação
            e excelência. Trabalhamos em estreita colaboração com nossos clientes para entender suas metas e objetivos,
            a fim de fornecer soluções personalizadas que atendam às suas expectativas e superem suas necessidades.
          </p>
          <a target="_blank" href="https://github.com/LeonardoEnterprise"><button class="btn-secundary-color">Conhecer a empresa</button></a>
          </div>
          <div class="imgs">
            <img class="valores" src="../../../assets/lema.svg" alt="Você é nossa prioridade!">
          </div>
      </section>

    </main>
  </div>
</body>
</html>
